@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  

@layer base {
    :root {
        /* Light Theme Colors */
        --background: 0 0% 100%;
        --navbar-bg: 0 0% 90%;
        --foreground: 0 0% 10%;
        --primary: 0 0% 10%;
        --primary-foreground: 0 0% 96%;
        --secondary: 0 0% 96%;
        --secondary-foreground: 0 0% 25%;
        --accent: 0 0% 85%;
        --accent-foreground: 0 0% 10%;
        --border: 0 0% 85%;
        --input: 0 0% 90%;
        --ring: 0 0% 30%;
        --success: 120 3% 30%;
        --destructive: 0 60% 50%;
        --radius: 0.5rem;
    
        /* Text Colors */
        --text-primary: 0 0% 0%;
        --text-muted: 0 0% 50%;
        --text-inverted: 0 0% 100%;  /* White text in light mode */
    
        /* Hover Colors */
        --hover-primary: 0 0% 20%;
        --hover-secondary: 0 0% 95%;
        --hover-accent: 0 0% 75%;
        --hover-border: 0 0% 75%;
    }
    
    .dark {
        /* Dark Theme Colors */
        --background: 0 0% 0%;
        --navbar-bg: 0 0% 0% / 92%;
        --foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 10%;
        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 80%;
        --accent: 0 0% 30%;
        --accent-foreground: 0 0% 98%;
        --border: 0 0% 20%;
        --input: 0 0% 25%;
        --ring: 0 0% 60%;
        --success: 120 3% 50%;
        --destructive: 0 60% 40%;
    
        /* Text Colors */
        --text-primary: 0 0% 98%;
        --text-muted: 0 0% 60%;
        --text-inverted: 0 0% 0%; /* Black text in dark mode */
    
        /* Hover Colors */
        --hover-primary: 0 0% 85%;
        --hover-secondary: 0 0% 25%;
        --hover-accent: 0 0% 40%;
        --hover-border: 0 0% 35%;
    }
    
    
    
}


